.navbar {
  display: flex;
  width: 100%;
  background-color: none;
  justify-content: space-between;
  padding: 10px 0;
  /* position: fixed;
  top: 0;
  background-color: #000;
  z-index: 999; */
  background-color: black;
}
.logo {
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.nav-links {
  margin-right: 20px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 20%;
  margin-top: 10px;
}
.navLink {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 16px;
  display: block; /*added new*/
  padding: 0 5px;
}
/*added new*/
.nav-link {
  display: inline-block;
  position: relative;
}
.navLink:hover {
  color: #ff0000;
}
.menu-btn {
  width: 30px;
  flex-direction: column;
  position: absolute;
  top: 2%;
  right: 2%;
  display: none;
}
.menu-bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  margin: 3px 0;
  align-items: center;
  border-radius: 20px;
  transition: 0.4s;
}
.nav-bar-services-dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  background-color: #fff;
  margin-top: 10px;
}
.nav-bar-services-dropdown.open {
  display: block;
}
.nav-bar-services-dropdown li {
  display: block;
  text-align: center;
  padding: 8px 10px;
}
.nav-bar-services-dropdown-navLink {
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  color: #ff0000;
  transition: all 0.6s ease;
}
.nav-bar-services-dropdown-navLink:hover {
  color: #ff0000;
}

.navbar-dropdown-down-arrow {
  font-size: 13px;
}
.navbar-dropdown-down-arrow.inverted {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .menu-btn {
    display: flex;
    cursor: pointer;
  }
  .navbar {
    flex-direction: column;
    background-color: black;
    z-index: 999;
  }
  .nav-links {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    width: 100%;
    transition: all 0.6s ease;
  }
  .nav-links.open {
    display: flex;
  }
  .nav-link {
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
  }
  /* Hamburger menu animation */
  .menu-bar.open:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-bar.open:nth-child(2) {
    opacity: 0;
  }

  .menu-bar.open:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-bar-services-dropdown {
    position: static;
    z-index: 0;
  }
}
