/* .navbar {
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  background-color: none;
}
.nav-items-container {
  display: flex;
}
.link {
  text-decoration: none;
  color: inherit;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.nav-item {
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #b4aeae;
  transition: all 0.5s ease;
}
.nav-item:hover {
  color: #fff;
}
.logo {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
} */

/* Styles for navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: none;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.nav-items-container {
  display: flex;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: 0.3s;
}

.nav-item:hover {
  color: #ff0000;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

/* Media query for smaller screens (mobile view) */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-items-container {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .nav-items-container.active {
    display: flex;
    background-color: #000;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .nav-item {
    padding: 15px 0;
    font-size: 19px;
    width: 100%;
  }

  /* Hamburger menu animation */
  .bar.open:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
